.AddFolder {
    margin: 130px 0 0;
    padding: 0;
    float: left;
    text-align: left;
    width: 40%;
  }

.AddFolder h3 {
    padding: 0 15px;
    color: #bdbdbd;
}

.error__message {
  padding: 0 15px;
  font-weight: 600;
  color: #f6142f;
  display: block
}

.form-group input{
    background-color: #030f1f;
    border: none;
    color: #b5b3b3; 
    display: block;
    font-family: var(--custom-font);
    font-size: 20px;
    margin: 0 0 5vh;
    width: 100%;
    /* max-width: 180px; */
    padding: 8px 16px;
}


input:-webkit-autofill::first-line {
    font-size: 20px
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus,
input, input[type=text] {
    border: none;
    font-size: 20px;
    font-family: var(--custom-font);
    padding: 8px 16px;
    background-color: #030f1f;
    -webkit-box-shadow: 0 0 0px 1000px  #030f1f inset;
    -webkit-text-fill-color: #b5b3b3;
    color: #b5b3b3;
    box-shadow: 0 0 0px 1000px  #030f1f inset;
    outline: none;
}

.buttons button {
    background-color: #cacaca;
    border-radius: 30px;
    border: 0;
    color: black;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 60px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    width: 60px;
    margin: 1vh auto
  }
  
  a.buttons button {
    padding: 16px 8px 8px;
  }
  
  .buttons button:hover {
    background-color: #29862e;
    cursor: pointer;
  }

  .buttons button:focus {
    background-color: #29862e;
  }
  