div.MemberListMain {
  float: left;
}

.MemberListMain__list {
  list-style-type: none;
  margin: 130px 0 0;
  padding: 0;
}


.MemberListMain__member-link {
  background-color: #030f1f;
  color: #b5b3b3;
  display: block;
  font-family: var(--custom-font);
  font-size: 20px;
  margin: 0 0 8px auto;
  width: 380px;
  max-width: 380px;
  padding: 8px 16px;
  text-decoration: none;
}
.MemberListMain__member-link:hover {
  color: #FFB72F;
  cursor: pointer;
}
.MemberListMain__member-link.active {
  background-color: #102541;
}

.MemberListMain__num-posts, .MessageListNav__num-messages {
  color: #adadad;
  display: block;
  float: right;
  font-size: 10px;
}

.MemberListMain__num-messages {
  color: #adadad;
  display: block;
  float: right;
  margin-right: 25px;
  font-size: 10px;
}