
.MessageListMain ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
  }
  
  .MessageListMain__button-container {
    max-width: 380px;
    margin: 0 10px;
  }
  
  .MessageListMain__add-message-button {
    margin: 0 auto 20px;
  }
  .MessageListMain__add-message-button:hover {
    background-color: #29862e;
    color: white;
  }
  