
.MessagePageMain {
    background-color: #efefef;
    height: 100%;
    padding: 10px;
    width: 100%;
  }
  
.MessagePageMain__content {
  color: #3a3939;
  max-width: 380px;
}

#root > div > main > section > button {
  background-color: #dddddd;
  padding: 5px 15px;
}

#root > div > main > section > button > a{
  text-decoration: none;
  color:#0b1f3a;
} 