.EditNote__Form {
    padding: 0;
    float: left;
    text-align: left;
    width: 40%;
  }

.EditNote h2 {
    margin: 130px 0 0;
    font-weight: 400;
    padding: 1vh 12px;
    color: #aaaaaa;
}

.EditNote_form-group input, textarea{
    background-color: #030f1f;
    border: none;
    color: #b5b3b3; 
    display: block;
    margin: 1vh 0 5vh auto;
    padding: 1vh 0 1vh 16px;
}

.error__message {
    padding: 0 15px;
    font-weight: 600;
    color: #f6142f
}

.new__note__name {
    padding: 0 15px;
    width: 100%;
    font-family: var(--custom-font);
    color: #999;
    font-weight: 400;
    font-size: .7em;
    letter-spacing: .015em;
}

::placeholder {
  opacity: .72;
}

.new__note__content {
    padding: 1vh 15px;
    font-family: var(--custom-font);
    color: #999;
    font-size: 1.3em;
    font-weight: 400;
    letter-spacing: .01em;
    margin: 1vh 0;
    margin-top: -4vh;
    height: 35vh;
    width: 100%;
}

input:-webkit-autofill::first-line {
    font-size: 1 em
}

textarea:-webkit-autofill::first-line {
    font-size: 1.3 em
}

input:-webkit-autofill, 
textarea:-webkit-autofill, 
input:-webkit-autofill:hover,
textarea:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus,
input, input[type=text]
textarea {
    border: none;
    background-color: #030f1f;
    -webkit-box-shadow: 0 0 0px 1000px  #030f1f inset;
    -webkit-text-fill-color: #b5b3b3;
    color: #b5b3b3;
    box-shadow: 0 0 0px 1000px  #030f1f inset;
    outline: none;
}

.EditNote__edit-note-button{
margin: 2vh auto;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
    display: block;
    height: 2em;
    width: 100%;
    margin: 5px 0;
    padding:0 15px;
    font-family: var(--custom-font);
    font-size: 1.1em;
    background-color: #030f1f;
    color: #b5b3b3;
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    box-sizing: border-box;
  }

  option {
    padding: 50px;
  }

  #note-folder-select {
    color: #898989;
    font-size: 1.25em;
    letter-spacing: .01em;
  }

  .buttons button {
    background-color: #cacaca;
    border-radius: 30px;
    border: 0;
    outline: 0;
    color: black;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 60px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    width: 60px;
    margin: 2.5vh auto
  }
  
  a.buttons button {
    padding: 16px 8px 8px;
  }
  
  .buttons button:hover {
    background-color: #29862e;
    cursor: pointer;
  }




