
.PostListMain ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
  }
  
  .PostListMain__button-container {
    max-width: 380px;
    margin: 0 10px;
  }
  
  .PostListMain__add-post-button {
    margin: 0 auto 20px;
  }
  .PostListMain__add-post-button:hover {
    background-color: #29862e;
    color: white;
  }
  